{
  "apiKey": "AIzaSyBSSk5WF7gpbVvjUEDniiZCIN58hx3jzt8",
  "appId": "1:370811810935:web:78f508d53c9c4df47f8272",
  "messagingSenderId": "370811810935",
  "projectId": "shruker-77fd2",
  "authDomain": "shruker-77fd2.firebaseapp.com",
  "storageBucket": "shruker-77fd2.firebasestorage.app",
  "measurementId": "G-VW0SFV9R0S"
}
